.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 40%);

  overflow-y: scroll;
}

.modal {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  width: 300px;
  height: 150px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.button__right,
.button__left,
.button__cross {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.button__cross {
  display: flex;
  margin: 20px 35px 0 auto;
}

.svg__right,
.svg__left,
.svg__cross {
  display: block;
  fill: #fff;
}

.svg__right,
.svg__left {
  width: 30px;
  height: 30px;
  opacity: 0;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg__cross {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__right:hover .svg__right,
.button__left:hover .svg__left,
.button__right:active .svg__right,
.button__left:active .svg__left,
.button__cross:hover .svg__cross,
.button__cross:active .svg__cross {
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .modal,
  .container {
    width: 450px;
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .modal,
  .container {
    width: 600px;
    height: 350px;
  }

  .svg__right,
  .svg__left {
    width: 40px;
    height: 40px;
  }

  .svg__cross {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1360px) {
  .modal,
  .container {
    width: 900px;
    height: 550px;
  }
}
