.section__hero {
  background-repeat: no-repeat;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../img/hero/hero_mid.jpg");
  background-size: 100%;
}

.container {
  text-align: center;
  padding: 160px 20px 100px 20px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #fff;
}

.subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 24px;
  color: #fff;
}

.hero__button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 16px 32px;
  color: #fff;
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 5px;
  cursor: pointer;
}

.hero__svg {
  width: 8px;
  height: 12px;
  margin-right: 9px;
}

.button__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

@media screen and (min-width: 767px) {
  .section__hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../../img/hero/hero_big.jpg");
  }

  .container {
    padding: 378px 120px;
  }
}

@media screen and (min-width: 1300px) {
  .section__hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../../img/hero/hero_big.jpg");
  }

  .container {
    padding: 270px 280px;
  }
}
