.header,
.header__fixed {
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 22px 0 0;
  background: rgba(0, 0, 0, 0%);
  /*     background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ); */
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: absolute;
}

.header__fixed {
  position: fixed;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.header__container {
  display: block;
  margin: 0 auto;
}

.logo__container {
  display: flex;
  text-align: center;
  margin-bottom: 6px;
  cursor: pointer;
}

.logo__logo {
  width: 240px;
  height: 35px;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ? line-height: line-height / font-size */

.list {
  display: flex;
}

.item {
  padding-top: 10px;
}

.item:not(:last-child) {
  margin-right: 12px;
}

.into__link {
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  cursor: pointer;
}

.into__link::after {
  display: block;
  content: "";
  margin-top: 8px;
  width: inherit;
  height: 2px;
  background-color: #28a745;
  border-radius: 2px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.into__link:hover::after,
.into__link:active::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 28px 0 12px;
  }

  .header__container {
    padding: 0 32px;
  }

  .header__container {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .logo__container {
    margin-bottom: 0;
  }

  .logo__logo {
    width: 260px;
    height: 40px;
  }

  .logo__logo:hover {
    transform: scale(1.1);
  }

  .logo__container {
    margin-right: auto;
  }

  .list {
    align-items: center;
    margin-left: auto;
  }

  .item:not(:last-child) {
    margin-right: 20px;
  }

  .into__link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1360px) {
  .header {
    padding: 32px 0 12px;
  }

  .header__container {
    padding: 0 29px;
  }

  .item:not(:last-child) {
    margin-right: 46px;
  }
}
