.gallery {
  text-align: center;
  padding: 60px 20px 40px;
}

.subtitle,
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #333333;
}

.text {
  margin-bottom: 30px;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 24px;
  color: #333333;
}

.gallery__list {
  display: block;
}

.gallery__item:not(:last-child) {
  margin-bottom: 8px;
}

.image {
  width: 280px;
  height: 100%;
  cursor: pointer;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .subtitle,
  .text {
    font-size: 18px;
  }

  .title {
    font-size: 40px;
    line-height: 1.35;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .gallery__item:not(:last-child) {
    margin: 0;
  }

  .image {
    width: 223px;
  }
}

@media screen and (min-width: 1360px) {
  .image {
    width: 420px;
  }

  .gallery__list {
    gap: 24px;
  }
}
