.gallery {
  text-align: center;
  padding: 60px 20px 40px;
}

.subtitle,
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #333333;
}

.text {
  margin-bottom: 30px;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 24px;
  color: #333333;
}

.gallery__list {
  display: block;
}

.gallery__item {
  flex-direction: column;
}

.gallery__item:not(:last-child) {
  margin-bottom: 8px;
}

.image {
  width: 280px;
}

.lightbox {
  display: block;
}

@media screen and (min-width: 767px) {
  .subtitle,
  .text {
    font-size: 18px;
  }

  .title {
    font-size: 40px;
    line-height: 1.35;
  }

  .lightbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .gallery__item:not(:last-child) {
    margin: 0;
  }

  .image {
    width: 223px;
  }
}

@media screen and (min-width: 1300px) {
  .image {
    width: 420px;
  }

  .lightbox {
    gap: 24px;
  }
}
