.blog {
  display: block;
  width: 100%;
}

.container__blog {
  padding: 48px 20px;
  text-align: left;
  background-color: #0284d0;
}

.button {
  text-align: center;
  margin-right: auto;
  padding: 16px 32px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0%);
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: #0284d0;
  background-color: #fff;
  border: 1px solid #0284d0;
}

.image {
  width: 100%;
  min-height: 250px;
  background-repeat: no-repeat;
  background-image: url("../../img/blog/blog_big.jpg");
  background-size: 100%;
  background-position: 50% 50%;
}

@media screen and (min-width: 767px) {
  .blog {
    display: flex;
  }

  .container__blog {
    width: 51%;
    padding: 60px 32px;
  }

  .image {
    width: 49%;
    background-image: url("../../img/blog/blog_mid.jpg");
  }
}

@media screen and (min-width: 1360px) {
  .container__blog {
    width: 51%;
    padding: 80px 28px 90px 20px;
  }

  .image {
    width: 49%;
    background-image: url("../../img/blog/blog_big.jpg");
  }
}
