.blog {
  display: block;
}

.container__blog {
  padding: 48px 20px;
  text-align: left;
  background-color: #0284d0;
}

.button {
  text-align: center;
  margin-right: auto;
  padding: 16px 32px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0%);
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: #0284d0;
  background-color: #fff;
  border: 1px solid #0284d0;
}

@media screen and (min-width: 767px) {
  .blog {
    display: flex;
  }

  .container__blog {
    padding: 60px 32px;
  }
}

@media screen and (min-width: 1300px) {
  .container__blog {
    padding: 80px 28px 90px 20px;
  }
}
